<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h2>Your Pragmatic Cart</h2>

<table>
  <%= render @cart.line_items, line_item: @line_item %>
  <%= render "carts/total_amount", cart: @cart %>
</table>

<%= button_to "Empty Cart", @cart, method: :delete, 
  data: { confirm: "Are you sure?" } %>
